<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.evenwell.round"
      android:versionCode="7"
      android:versionName="1.6"
      android:sharedUserId="android.uid.system">
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.siui.round"
      android:versionCode="1"
      android:versionName="1.0">-->

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:name="RoundApplication"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true"
                 android:directBootAware="true"
                 android:persistent="true">
        <service android:name=".RoundService">
        </service>
    </application>
</manifest>
